@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');

/* theme fonts*/
.roboto{
  font-family: 'Roboto',Helvetica,Arial,sans-serif;
}

.roboto-slab{
 font-family: 'Roboto Slab', serif;
}

.theme-font{
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.25rem;
}

/**theme flex */
.flex-r {
  display: flex;
  flex-direction: row;
}

.flex-c {
  display: flex;
  flex-direction: column;
}